//font imports
@font-face {
    font-family: 'Cooper Extra Bold';
    src: url(../fonts/Cooper-ExtraBold.ttf);
}

@font-face {
    font-family: 'Cooper Black';
    src: url(../fonts/Cooper-Black.ttf);
}

@font-face{
    font-family: 'Courier Prime';
    src: url(../fonts/CourierPrime-Regular.ttf) format('truetype');
}

//font size variables
$h1-font: 53px;
$h2-font: 44px;
$h3-font: 37px;
$h4-font: 31px;
$h5-font: 25px;
$h6-font: 21px;
$p-font: 18px;