//font imports
@font-face {
    font-family: 'Cooper Extra Bold';
    src: url(../fonts/Cooper-ExtraBold.ttf);
}

@font-face {
    font-family: 'Cooper Black';
    src: url(../fonts/Cooper-Black.ttf);
}

@font-face {
    font-family: 'Courier Prime';
    src: url(../fonts/CourierPrime-Regular.ttf) format('truetype');
}

//font size variables
$h1-font: 54px;
$h2-font: 40px;
$h3-font: 33px;
$h4-font: 28px;
$h5-font: 24px;
$h6-font: 20px;
$p-font: 16px;