@use "./colors" as *;
@use "./typography" as *;

* {
    padding: 0;
    margin: 0;
}

//This isn't working... trying to resolve insufficient height for tablet sizes
// body {
//   min-height: 100vh;
// }

a:hover{
    cursor: pointer;
}

// scroll bar ---

/* Firefox */
* {
    scrollbar-width: 30px;
    scrollbar-color: $dark-blue $tan;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 30px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $tan;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: $tan;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: $tan;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $dark-blue;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: $dark-blue;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: $dark-blue;
  }