@use "../global" as *;

.homehero {
    position: relative;
    height: 700px;
    background: url(../images/hero.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 570px){
        height: 580px;
     }
}

.home-p {
    width: 580px;
    font-family: 'Cooper Black';
    font-size: $h1-font;
    line-height: 80px;
    color: $medium-blue;
    text-align: center;
    margin: 0 auto;
    padding: 0 12px 140px;


    .align-left {
        @media (max-width: 570px){
            text-align: left;
            padding-left: 20px;
         }
    }

    @media (max-width: 570px){
        width: auto;
        line-height: 1.3em;
        font-size: calc($h2-font + 4px);
     }

     @media (max-width: 533px){
        top: 20%;
    }

     @media (max-width: 450px){
        padding-bottom: 80px;
     }

     @media (max-width: 471px){
        top: 15%;
     }
}

/*TO-DO: center text/span better?*/
.box-link {
    display: block;
    background-color: $medium-blue;
    color: $tan;
    padding: 0px 0px 8px 0px;
    margin: auto;
    height: 80px;
    width: 540px;
    position: relative;
    top: 20px;

    @media (max-width: 570px){
        width: 430px;
        height: 100%;
     }

     @media (max-width: 471px){
        width: 240px;
        height: 100%;
        border-radius: 16px;
     }
}

 .group {
   white-space: nowrap; /* Prevent the span content from wrapping */
 }

a .box-link:link { text-decoration: none; color: white; }
a .box-link:visited { text-decoration: none; color: $tan; }
a .box-link:hover { 
   text-decoration: none; 
   color: $yellow; background-color: 
   $dark-blue; transition: color 0.75s ease; 
   transition: background-color 0.75s ease; 
}
a .box-link:active { text-decoration: none; color: $tan; }