:root {
    --dark-blue: #02124a;
    --medium-blue: #1b4064;
    --yellow: #ffd000;
    --tan: #f2ecd9;
    --pink: #ffb9eb;
}

* {
    padding: 0;
    margin: 0;
}

#blog-about {
    background-color: var(--tan);
    height: 728px;
    width: 100%;
}

#blog-about img {
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -90%);
}

#blog-about p {
    position: relative;
    top: 76%;
    font-family: 'Courier Prime';
    font-size: 26px;
    color: var(--tan);
}

#blog-about span {
    background-color: var(--medium-blue);
    padding: 15px 25px;
}

a #box-link-explore:link { text-decoration: none; color: white; }
a #box-link-explore:visited { text-decoration: none; color: var(--tan); }
a #box-link-explore:hover { text-decoration: none; color: var(--yellow); background-color: var(--dark-blue); cursor: pointer;}
a #box-link-explore:active { text-decoration: none; color: var(--tan); }


