:root {
    --dark-blue: #02124a;
    --medium-blue: #1b4064;
    --yellow: #ffd000;
    --green: #314f32;
    --tan: #f2ecd9;
    --white: #ffffff;
    --maroonish: #842b2b;
}

@font-face{
    font-family: 'Cooper Black';
    src: url(../fonts/Cooper-Black.ttf) format('truetype');
} 
@font-face{
    font-family: 'Courier Prime';
    src: url(../fonts/CourierPrime-Regular.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: var(--yellow); }
a:active { text-decoration: none; color: white; }

#header {
    background-color: var(--dark-blue);
    font-family: 'Cooper Black';
    font-size: 45px;
    height: 80px;
    text-align: center;
}

#header a {
    color: var(--yellow);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 20px;
    height: 44px;
}

#navbar div{
    width: 460px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}