@use '../global' as *;

.articles-content{
    background-color: $tan;
    margin: auto;

    .articles-container {
        width: 1250px;
        margin: auto;

        @media (max-width: 1300px){
            width: 1100px;
        }

        .article-list {
            padding: 30px 0;
            display: grid;
            grid-template-columns: repeat(3, 313px);
            justify-content: space-between;
            row-gap: 80px;
            column-gap: 80px;

            @media (max-width: 1300px){
                row-gap: 38px;
            }
        }

        .topics-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;
            height: 100%;

            .button-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                column-gap: 27px;
                width: 100%;

                @media(max-width: 1300px) {
                    width: 540px;
                    row-gap: 14px;
                    width: 100%
                }
            }

            @media (max-width: 1300px){
                width: 1100px;
            }
           

            .topic-button {
                font-family: 'Courier Prime';
                font-size: $p-font;
                border: none;
                border-radius: 0;
                background-color: $medium-blue;
                cursor: pointer;
                color: $white;
                padding: 8px 14px;

                &:hover {
                    color: $yellow;
                }

                &:nth-child(7) {
                    background: linear-gradient(90deg, #8F00FF 0%, #6008b8 23%, #3b15ab 40%, #2A2FAD 65%, #3112E1 82%, #0019FF 100%);
                }
            }

            form {
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                justify-content: center;

                .search-button {
                    border: none;
                    background: none;
                    cursor: pointer;
                    width: 42px;
                    height: 36px;
                }

                input {
                    font-family: 'Courier Prime';
                    font-size: $p-font;
                    border: 2px solid black;
                    border-right: none;
                    border-radius: 0;
                    padding: 6px 10px;
                    width: 400px;

                    &:focus ~ .search-button img {
                        box-sizing: border-box;
                        transform: scale(105%);
                    }

                    @media(max-width: 1300px) {
                        width: 480px;
                    }
                }
            }
        }
    }
}