@use '../global' as *;

.about-content {
    background-color: $tan;
    min-height: 708px;
    padding: 0 122px 122px 120px;

    .about-content-flex {

        div:nth-child(1) {
            float:left;
                
                margin-left: -6px;
                padding-top: 45px;
                
            img {
                
                margin-right: 40px;
                margin-bottom: 10px;
            }
        } 
    
        div:nth-child(2){
            padding-top: 22px;

            h2{
                padding-left: 335px;
            }

            p {
                padding-bottom: 52px;
            }
        }
    }

        

    h2 {
        font-family: 'Cooper Extra Bold';
        font-size: $h2-font;
        color: $medium-blue;
        padding-bottom: 10px;
    }
    p {
        font-family: 'Courier Prime';
        font-size: calc($p-font);
        color: $medium-blue;
        line-height: 1.24em;
    }
    .red-text {
        color: $maroonish;
    }
    .thunk-box {
        white-space: nowrap; /* Prevent the span content from wrapping */
        font-family: 'Cooper Black';
        background-color: $dark-blue;
        color: $yellow;
        padding: 0 8px;
    }
}
