@use "../global" as *;

footer {
    display: inline-block;
    background-color: $dark-blue;
    height: 320px;
    width: 100%;

    div {
        display: block;
        width: 100%;
    }

    p {
        color: $white;
        font-family: 'Courier Prime';
        text-align: center;
    }

    a {
        width: 280px;
    }
}

.footer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    color: $white;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: $p-font;
    padding: 45px 0px 20px 0px;
    height: 44px;

    div{
        width: 440px;
    }

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: space-between;
    }
}

.email-div {
    padding-top: 20px;
}

.email-div div a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.email-div img {
    padding-right: 8px;
}

.email-text{
    font-size: $p-font;
}

.logo-text {
    font-size: $h5-font;
    font-family: 'Cooper Black';
    color: $yellow;
    margin-top: 30px;
}

.copyright-text {
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
}

.website-text {
    font-size: 10px;
    font-weight: bold;
    margin-top: 8px;
}

.email-div a p:link { text-decoration: none; color: white; }
.email-div a p:visited { text-decoration: none; color: white; }
.email-div a p:hover { text-decoration: none; color: $yellow; }
.email-div a p:active { text-decoration: none; color: white; }

.email-div a img:hover { text-decoration: none; color: $yellow; }