@use "../global" as *;

footer {
    display: inline-block;
    background-color: $dark-blue;
    height: 280px;
    width: 100%;

    div {
        display: block;
        width: 100%;
    }

    p {
        color: $white;
        font-family: 'Courier Prime';
        text-align: center;
    }

    a {
        width: 280px;
    }

    @media (max-width: 470px) {
        height: 340px;
    }
}

.footer-navbar {
    display: grid;
    justify-items: center;
    background-color: $dark-blue;
    color: $white;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: $p-font;
    padding: 25px 0px 30px 0px;
    height: 24px;

    @media (max-width: 470px) {
        padding-bottom: 55px;
        align-self: center;
        justify-content: center;
    }
    
    div {
        width: 420px;

        @media (max-width: 470px) {
            width: 280px;
        }

    }

    ul {
        display: grid;
        grid-template-columns: 0fr 0fr 0fr 0fr;
        list-style: none;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 470px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 15px;
            justify-items: center;
        }
    }
}

.email-div {
    div a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    img {
        padding-right: 8px;
    }
}

.email-text{
    font-size: $p-font;

    @media (max-width: 330px) {
        display: none;
    }

}

.logo-text {
    font-size: $h5-font;
    font-family: 'Cooper Black';
    color: $yellow;
    margin-top: 30px;
}

.copyright-text {
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
}

.website-text {
    font-size: 10px;
    font-weight: bold;
    margin-top: 8px;
}

.email-div a p:link { text-decoration: none; color: white; }
.email-div a p:visited { text-decoration: none; color: white; }
.email-div a p:hover { text-decoration: none; color: $yellow; }
.email-div a p:active { text-decoration: none; color: white; }
.email-div a img:hover { text-decoration: none; color: $yellow; }