@use '../global' as *;

.article-link:link { text-decoration: none; color: #000; }
.article-link:visited { text-decoration: none; color: #000; }
.article-link:hover { text-decoration: none; color: #000; }
.article-link:active { text-decoration: none; color: #000; }

.article {
    box-sizing: border-box;
    max-width: 100%;

    @media (max-width: 345px) {
        max-width: 90vw;
        height: auto;
        margin: 0 auto;
    }
}

.section, .date {
    font-family: 'Courier Prime';
    font-size: $p-font;
}

.date {
    margin-top: 8px;
}

.section {
    color: $maroonish;
    margin-top: 8px;
}

h4 {
    font-family: 'Cooper Extra Bold';
    font-size: $h4-font;
    color: $medium-blue;
    line-height: 1.25em;
}

.article-img {
    max-width: 328px;
    height: auto;
    border: 2px solid black;
    margin-top: 10px;
    display: block;

    @media (max-width: 345px) {
        max-width: 100%;
        height: auto;
    }
}

