@use '../global' as *;

.thinker {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;

    @media (max-width: 980px){
        height: 100%;
    }
}

.thinker-left {
    width: 2400px;
    background: url(../images/thinker.jpg) no-repeat 20% center;
    background-size: cover;

    @media (min-width: 1560px){
        width: 1800px;
    }

    @media (max-width: 980px){
        display: none;
    }
}

.thinker-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    color: $white;
    font-family: 'Cooper Black';
    font-size: $h2-font;
    padding: 100px 60px;

    @media (max-width: 720px){
        padding: 100px 30px;
    }

    @media (max-width: 381px){
        font-size: 2.5em;
    }
}

.yellow-words {
    color: $yellow;
}