@use '../global' as *;

.contact-content {
    background-color: $tan;
    min-height: 875px;
    padding-top: 22px;
    font-family: 'Courier Prime';
    color: $medium-blue;
    font-size: $p-font;

    h2 {
        font-family: 'Cooper Extra Bold';
        font-size: $h2-font;
        text-align: center;
        padding-bottom: 10px;
    }

    div{
        width: 600px;
        margin: auto;
        line-height: 1.24em;
    }

    .box-text {
        background-color: $medium-blue;
        color: $white;
        text-decoration: underline;
        padding: 4px 10px;
    }

    form {
        display: flex;
        flex-direction: column;

        input, textarea {
            border: 1px solid #000000;
            font-family: 'Courier Prime';
            font-size: $p-font;
            padding: 8px;
        }

        input {
            
        }

        label {
            padding-top: 25px;
            font-weight: bold;
        }

        button {
            font-family: 'Courier Prime';
            font-size: $p-font;
            color: $white;
            background-color: $medium-blue;
            height: 50px;
            width: 100%;
            margin-top: 25px;;

            &:hover {
                cursor: pointer;
                background-color: $dark-blue;
                color: $yellow;
            }
        }
    }
}